.wrap{
    width: 70%;
    margin: auto;
    margin-bottom: 30px;
}

.col{
    margin: 15px 0px;
}

.container{
    max-width : 100%;
}

.card{
    margin: 0px auto;
}

.posting-box{
    width: 70%;
    padding: 30px;
    margin: 10px auto;
    background-color: #E9ECEF;
    border-radius: 5px;
}

.form-group>label{
    font-weight: bold;
}